.cruises {
  min-height: 1123px;
  background-color: $color-white;
}

.cruises__container {
  display: flex;
  flex-wrap: wrap;
}

.cruises__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  color: $color-blue;
  margin: 110px 0 50px 0;
  flex: 0 0 100%;
}

.cruises__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.cruises__item {
  height: 386px;
  max-width: 260px;
  padding: 0;
  flex: 0 0 260px;
  margin: 0 15px 30px 15px;
}

.cruises__block {
  position: relative;
}

.cruises__name {
  position: absolute;
  bottom: 0;
  color: $color-white;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding: 0 0 26px 30px;
}

.cruises__wrapper {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  top: 0;
  right: 0;
  left: 0;
  background: $color-blue;
  color: $color-white;
}

.cruises__wrapper-block {
  padding-left: 25px;
  height: 386px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  h3 {
    padding: 26px 0 8px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin: 0;
  }

  h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding-top: 9px;
  }

  p {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    color: $color-grey;
    padding-top: 2px;
  }
}

.cruises__btn {
  max-width: 210px;
  min-height: 40px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  color: $color-blue;
  background-color: $color-white;
  border: none;
  margin-top: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
  font-family: $font;
}


.cruises__block:hover .cruises__wrapper {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media (max-width: $tablet-width) {
  .cruises {
    min-height: 1912px;
  }

  .cruises__title {
    font-size: 26px;
    line-height: 39px;
    margin: 90px 0 50px;
  }

  .cruises__item {
    max-width: 309px;
    flex: 0 0 309px;
  }

  .cruises__name {
    padding-left: 35px;
    padding-bottom: 32px;
  }

  .cruises__wrapper-block {
    padding-left: 35px;

    h3 {
      padding: 29px 0 3px;
    }

    h4 {
      padding-top: 10px;
    }

    p {
      max-width: 230px;
    }
  }

  .cruises__btn {
    max-width: 239px;
    margin-bottom: 35px;
  }
}

@media (max-width: $mobile-width) {
  .cruises {
    min-height: 3486px;
  }

  .cruises__title {
    font-size: 24px;
    line-height: 36px;
    margin: 57px 0 29px;
  }

  .cruises__item {
    max-width: 270px;
    flex: 0 0 270px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .cruises__name {
    padding-left: 25px;
    padding-bottom: 20px;
  }

  .cruises__wrapper-block {
    padding-left: 25px;
  }

  .cruises__btn {
    max-width: 220px;
  }
}
