.cruises {
  padding-top: 111px;
  padding-bottom: 90px;
  background-color: $color-white;
}

.cruises__container {
  display: flex;
  flex-wrap: wrap;
}

.cruises__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  color: $color-blue;
  flex: 0 0 100%;
  margin: 0 0 49px 0;
}

.cruises__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.cruises__item {
  height: 386px;
  max-width: 260px;
  padding: 0;
  flex: 0 0 260px;
  margin: 0 15px 30px 15px;
  overflow: hidden;
}

.cruises__block {
  position: relative;

  img {
    width: 260px;
    height: 386px;
  }
}

.cruises__name {
  position: absolute;
  bottom: 0;
  color: $color-white;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding: 0 0 26px 30px;
}

.cruises__wrapper {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  top: 0;
  right: 0;
  left: 0;
  background: $color-blue;
  color: $color-white;
  overflow-y: auto;
}

.cruises__wrapper-block {
  padding-left: 25px;
  padding-bottom: 25px;
  height: 386px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    padding: 26px 0 8px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin: 0;
  }

  h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding-top: 9px;
  }

  p {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    color: $color-grey;
    padding-top: 2px;
  }
}

.cruises__btn {
  max-width: 210px;
  min-height: 40px;
  font-size: 14px;
  line-height: 40px;
  font-weight: 600;
  color: $color-blue;
  background-color: $color-white;
  border: none;
  margin-top: auto;
  font-family: $font;
  word-break: break-all;
  text-align: center;
}


.cruises__block:hover .cruises__wrapper {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media (max-width: $tablet-width) {
  .cruises {
    padding-top: 90px;
    padding-bottom: 70px;
  }

  .cruises__title {
    font-size: 26px;
    line-height: 39px;
  }

  .cruises__item {
    max-width: 309px;
    flex: 0 0 309px;
  }

  .cruises__block {
    img {
      width: 309px;
      height: 386px;
    }
  }

  .cruises__name {
    padding-left: 35px;
    padding-bottom: 32px;
  }

  .cruises__wrapper-block {
    padding-left: 35px;

    h3 {
      padding: 29px 0 3px;
    }

    h4 {
      padding-top: 10px;
    }

    p {
      max-width: 230px;
    }
  }

  .cruises__btn {
    max-width: 239px;
    margin-bottom: 35px;
  }
}

@media (max-width: $mobile-width) {
  .cruises {
    padding-top: 58px;
    padding-bottom: 35px;
  }

  .cruises__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .cruises__list {
    display: block;
    width: 100%;
  }

  .cruises__item {
    max-width: 100%;
    flex: 0 0 100%;
    margin: 0 10px 26px 10px;
    height: auto;
  }

  .cruises__block {
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }

  .cruises__name {
    padding-left: 25px;
    padding-bottom: 20px;
  }

  .cruises__block:hover .cruises__wrapper {
    height: 100%;
  }

  .cruises__wrapper-block {
    padding-left: 25px;
    width: 100%;
  }

  .cruises__btn {
    max-width: 220px;
  }
}
