.main-nav {
  width: 100%;
  position: relative;
}

.main-nav__list {
  list-style: none;
}

@media (max-width: $mobile-width) {
  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: $color-white;
    min-height: 300px;
    z-index: 19;
    padding-top: 88px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .page-header--opened .main-nav {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .site-body--nojs .main-nav {
    display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    position: relative;
    background-color: transparent;
  }
}
