.main-nav {
  width: 100%;
  position: relative;
}

.main-nav__toggle {
  position: relative;
  display: none;
  background-color: transparent;
  width: 24px;
  height: 12px;
  cursor: pointer;
  border: none;
  outline: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: calc(50% - (24px / 2));
    left: 0;
    width: 24px;
    height: 2px;
    transform-origin: center center;
  }

  &::before {
    background-color: $color-white;
    box-shadow: 0 8px 0 0 $color-white, 0 -8px 0 0 $color-white;
  }
}

.page-header--opened .main-nav__toggle {
  z-index: 20;

  &::before,
  &::after {
    background-color: $color-blue;
  }

  &::before {
    box-shadow: none;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  list-style: none;
}

@media (max-width: $mobile-width) {
  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: $color-white;
    min-height: 300px;
    z-index: 19;
    padding-top: 92px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .main-nav__toggle {
    display: block;
  }

  .page-header--opened .main-nav {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .site-body--nojs .main-nav__toggle {
    display: none;
  }

  .site-body--nojs .main-nav {
    display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    position: relative;
    background-color: transparent;
  }
}
