.page-footer {
  background: $color-blue;
  padding-top: 43px;
  padding-bottom: 50px;
}

.page-footer__container {
  display: flex;
  align-items: center;
}

.page-footer__logo {
  max-width: 100%;
}

.page-footer__logo-link {
  display: block;
  width: 100%;
  max-width: 70px;
}

.page-footer__logo-img {
  fill: $color-white;
}

.page-footer__menu {
  display: flex;
  flex: 0 1 80%;
}

.page-footer__menu-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.page-footer__menu-item {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  margin: 0 -7px 0 40px;

  a {
    color: $color-white;
  }
}

.page-footer__social {
  display: flex;
  justify-content: flex-end;
  flex: 0 1 30%;
}

.page-footer__social-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  flex-wrap: wrap;
}

.page-footer__social-item {
  cursor: pointer;
  margin-left: 34px;
}

.page-footer__social-link {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (max-width: $tablet-width) {
  .page-footer {
    padding-top: 36px;
  }

  .page-footer__logo-img {
    width: 38px;
    height: 20px;
  }

  .page-footer__menu-item {
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 0 23px;
  }

  .page-footer__social-item {
    margin-left: 23px;
  }

  .page-footer__social-fb {
    width: 9px;
    height: 16px;
  }

  .page-footer__social-instagram {
    width: 16px;
    height: 16px;
  }

  .page-footer__social-twitter {
    width: 16px;
    height: 13px;
  }
}

@media (max-width: $mobile-width) {
  .page-footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .page-footer__container {
    flex-direction: column;
    align-items: flex-start;
  }

  .page-footer__menu-list {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 15px;
  }

  .page-footer__logo-img {
    width: 42px;
    height: 22px;
  }

  .page-footer__menu-item {
    margin: 10px 0 7px 0;
  }

  .page-footer__social {
    padding-top: 18px;
    justify-content: flex-start;
  }

  .page-footer__social-list {
    margin: 0;
  }

  .page-footer__social-item {
    margin: 0;
    padding-right: 23px;
  }
}
