.promo {
  display: flex;
  position: relative;
  min-height: 577px;
  z-index: 1;

  h1 {
    font-weight: bold;
    font-size: 54px;
    line-height: 66px;
    color: $color-white;
    margin: 198px 0 0 95px;

    br {
      display: none;
    }
  }

  p {
    font-size: 20px;
    line-height: 24px;
    color: $color-white;
    margin: 0 0 0 95px;
    padding-top: 10px;
  }
}

@media (max-width: $tablet-width) {
  .promo {

    h1 {
      font-size: 50px;
      line-height: 61px;
      margin: 217px 0 2px 0;

      br {
        display: none;
      }
    }

    p {
      font-size: 18px;
      line-height: 22px;
      margin: 0;
    }
  }
}

@media (max-width: $mobile-width) {
  .promo {
    min-height: 456px;

    h1 {
      font-size: 36px;
      line-height: 45px;
      margin: 133px 0 2px;

      br {
        display: block;
      }
    }

    p {
      font-size: 16px;
      line-height: 22px;
      max-width: 200px;
    }
  }
}
