.reservation {
  min-height: 555px;
  background-image: url("../img/reservation-destop@1x.jpg");
  background-color: $color-white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .reservation {
    background-image: url("../img/reservation-destop@2x.jpg");
  }
}

.reservation__container {
  display: flex;
  justify-content: space-between;
}

.reservation__text {
  padding-left: 60px;

  h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: $color-blue;
    margin: 228px 0 0;
  }

  p {
    font-size: 18px;
    line-height: 27px;
    color: $color-blue;
    max-width: 352px;
    margin: 30px 0 0;
  }
}

.reservation__block {
  width: 403px;
  height: 455px;
  background-color: $color-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.reservation__intro {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $color-white;
  max-width: 303px;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 15px;

  br {
    display: none;
  }
}

.reservation__form {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 0;
    margin-top: 20px;
  }

  input {
    width: 303px;
    height: 43px;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 14px;
    line-height: 21px;
    color: $color-blue;

    &::placeholder {
      color: $color-blue;
    }
  }

  button {
    min-width: 303px;
    min-height: 43px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    color: $color-blue;
    background-color: $color-white;
    border: none;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: $font;
  }
}

.reservation__form-personal {
  font-size: 10px;
  line-height: 13px;
  color: $color-white;
  display: flex;
  align-items: center;
  position: relative;
  padding: 3px 0 0 24px;
}

.reservation__form-checkbox + .reservation__form-label:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      background-color: $color-white;
}

.reservation__form-checkbox:checked + .reservation__form-label:after {
      content: "";
      position: absolute;
      top: 9px;
      left: 10px;
      width: 9px;
      height: 6px;
      border: 1px solid $color-blue-1;
      border-top-color: transparent;
      border-right-color: transparent;
      -webkit-transform: translate(-50%,-75%) rotate(-45deg);
      transform: translate(-50%,-75%) rotate(-45deg);
}

@media (max-width: $tablet-width) {
  .reservation {
    min-height: 805px;
    background-image: url("../img/reservation-tablet@1x.jpg");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .reservation {
      background-image: url("../img/reservation-tablet@2x.jpg");
    }
  }

  .reservation__container {
    flex-direction: column;
    align-items: center;
  }

  .reservation__text {
    padding-left: 0;

    h2 {
      font-size: 34px;
      line-height: 51px;
      margin: 100px 0 0;
    }

    p {
      margin: 25px 0 0 40px;
      text-align: center;
    }
  }

  .reservation__block {
    margin-top: 60px;
  }
}

@media (max-width: $mobile-width) {

  .reservation {
    min-height: 760px;
    background-image: url("../img/reservation-mobile@1x.jpg");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .reservation {
      background-image: url("../img/reservation-mobile@2x.jpg");
    }
  }

  .reservation__text {
    display: flex;
    flex-wrap: wrap;

    h2 {
      font-size: 24px;
      line-height: 31px;
      margin: 65px 0 0 48px;
      max-width: 195px;
      text-align: center;
    }

    p {
      font-size: 16px;
      line-height: 22px;
      margin: 25px 0 0 17px;
      text-align: center;
      max-width: 257px;
    }
  }

  .reservation__block {
    width: 290px;
    height: 460px;
    margin-top: 40px;
  }

  .reservation__intro {
    line-height: 25px;
    max-width: 214px;
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;

    br {
      display: block;
    }
  }

  .reservation__form {

    input {
      width: 230px;
    }

    button {
      min-width: 230px;
    }
  }

  .reservation__form-personal {
    line-height: 12px;
    max-width: 230px;
    padding: 0 60px 0 22px;

    input {
      width: 162px;
    }
  }

    .reservation__form-checkbox + .reservation__form-label:before {
      left: 0;
  }

    .reservation__form-checkbox:checked + .reservation__form-label:after {
      top: 9px;
      left: 9px;
  }
}
