.site-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 0 0 100%;
  justify-content: flex-end;
}

.site-list__item {
  margin: 0 0 0 34px;

  a {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-decoration: none;
    color: $color-white;
  }
}

@media (max-width: $tablet-width) {
  .site-list__item {
    margin: 0 0 0 24px;

    a {
      font-size: 14px;
      line-height: 17px;
    }
  }
}

@media (max-width: $mobile-width) {
  .site-list {
    justify-content: flex-start;
    flex-direction: column;
  }

  .site-list__item {
    margin: 0 0 22px 15px;

    a {
      color: $color-blue;
      font-size: 18px;
      line-height: 22px;
    }
  }
}
