.travel {
  background-color: $color-white;
  min-height: 541px;
}

.travel__about {
  h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: $color-blue;
    margin: 176px 0 24px 0;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    color: $color-blue;
    max-width: 512px;
  }
}

.travel__container {
  display: flex;
  justify-content: space-between;
}

.travel__img {
  margin-top: 120px;
}

@media (max-width: $tablet-width) {
  .travel {
    min-height: 464px;
  }

  .travel__about {
    h2 {
      font-size: 26px;
      line-height: 36px;
      max-width: 220px;
      margin: 91px 0 6px 0;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      max-width: 325px;
    }
  }

  .travel__img {
    margin-top: 100px;
  }
}

@media (max-width: $mobile-width) {
  .travel {
    min-height: 640px;
  }

  .travel__container {
    flex-direction: column;
  }

  .travel__about {
    h2 {
      font-size: 24px;
      line-height: 34px;
      margin: 56px 0 6px;
      max-width: 200px;
    }

    p {
      max-width: 290px;
    }
  }

  .travel__img {
    margin-top: 16px;
  }
}
