$font: "Montserrat", "Arial", sans-serif;
$tablet-width: 1023px;
$mobile-width: 767px;
$retina-dppx: 1.5dppx;
$retina-dpi: 144dpi;
$color-blue: #011c40;
$color-blue-1: #101a56;
$color-white: #f9fbfd;
$color-grey: #d8d8d9;
$color-red: #ff0000;
