$font: "Montserrat", "Arial", sans-serif;
$tablet-width: 768px;
$tablet-width-only: 1023px;
$mobile-width: 320px;
$mobile-width-only: 767px;
$retina-dppx: 1.5dppx;
$retina-dpi: 144dpi;
$color-blue: #011C40;
$color-white: #f9fbfd;

